html, body {
  height: 100%;
}

nav {
  height: 65px;
}

nav .container {
  margin-top: 8px;
  margin-bottom: 7px;
}

nav .container .navbar-collapse {
  background-color: #FFF;
}

.navbar-brand {
  padding: 7px 15px;
}

.nav li {
  font-size: 20px;
  font-variant: small-caps;
}

.logo-img {
  background-image: url("../images/Logo.png");
  height: 35px;
  width: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-default {
  background-color: #FFFFFF;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.section {
  margin: 7.5% 0;
  padding: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-details {
  text-align: center;
}

.section-header {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.section-body {
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.section-text {
  font-size: 18px;
  margin: 30px;
}

.map-wrapper {
  margin-bottom: 35px;
}

.map-styles {
  display: block;
  margin: 0 auto;
}

label {
  font-size: 20px;
}

.contact-form {
  margin-left: 20px;
}

.footer {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #D5D5D5;
  margin-top: 20px;
  padding: 15px;
}

.footer-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  margin: 0 5%;
}

.footer-wrapper .text-muted {
  -ms-flex: 9;
  flex: 9;
}

.social-media-icons a {
  margin: 0 10px 0 0;
}

hr {
  margin: 20px 50px;
}

.modal-image {
  height: 850px;
  background-position: center;
}
