html, body {
  height: 100%;
}

@font-face {
  font-family: ArcherPro;
  src: url("../fonts/ArcherPro-Medium.otf");
}

body {
  overflow-x: hidden;
  font-family: ArcherPro;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #E1C9A1;
}

#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}

nav {
  height: 65px;
}

nav .container {
  margin-top: 8px;
  margin-bottom: 7px;
}

nav .container .navbar-collapse {
  background-color: #FFF;
}

.navbar-brand {
  padding: 7px 15px;
}

.nav li {
  font-size: 20px;
  font-variant: small-caps;
}

.nav li a {
  border-radius: 3px;
}

.nav li:active {
  background-color: #F92364;
  border-radius: 3px;
}

.nav .active a {
  border: 1px solid #F92364;
  border-radius: 3px;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li:active > a {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #FFF;
  color: #000;
}

.logo-img {
  background-image: url("../images/Logo.png");
  height: 35px;
  width: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-default {
  background-color: #FFFFFF;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption {
  bottom: 0;
  top: 50%;
}

.carousel-caption h2 {
  text-transform: uppercase;
  font-size: 54px;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(black), to(transparent));
}

.portfolio-wrapper .col-lg-3 {
  margin-bottom: 25px;
}

.section {
  padding: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-details {
  text-align: center;
}

.section-header {
  font-size: 50px;
  margin: 30px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-transform: uppercase;
}

.section-text {
  font-size: 18px;
  margin: 30px;
  line-height: 40px;
}

.portfolio-testimonial-section {
  background: #fbd279;
  background: linear-gradient(to bottom, #fbd279 0%, #fa6869 47%, #fa6869 47%, #fa2464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd279', endColorstr='#fa2464',GradientType=0 );
  padding-bottom: 50px;
}

.header-center {
  text-align: center;
}

.header-white {
  color: #fff;
}

.map-wrapper {
  margin-bottom: 35px;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  margin: 10px 5px;
}

.testimonial-img {
  width: 50%;
}

.map-styles {
  display: block;
  margin: 0 auto;
}

label {
  font-size: 20px;
}

.contact-form {
  margin-left: 20px;
}

.form-group label {
  font-weight: 400;
  font-size: 25px;
}

.form-group input, .form-group textarea {
  border: 2px solid black;
  border-radius: 0;
}

.submit-btn {
  width: 100%;
  border: 0px;
  border-radius: 0;
  background: #f68179;
  background: linear-gradient(to bottom, #f68179 0%, #eb5c7a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68179', endColorstr='#eb5c7a',GradientType=0 );
}

.submit-btn:active {
  background: #b53d5b;
  background: linear-gradient(to bottom, #b53d5b 0%, #ed5c7c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b53d5b', endColorstr='#ed5c7c',GradientType=0 );
}

.footer {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  margin-top: 20px;
  padding: 15px;
}

.footer .text-muted {
  color: #fff;
  font-size: 18px;
}

.footer .social-media-icons a {
  color: #fff;
}

.footer-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex: 1;
  flex: 1;
}

.social-media-icons a {
  margin: 0 20px 0 0;
}

hr {
  margin: 20px 50px;
}

.modal-image {
  height: 850px;
  background-position: center;
}
