html, body {
	height: 100%;
}

.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.section-details {
	text-align: center;
}

.section-header {
	font-size: 60px;
	text-align: center;
	margin-bottom: 30px;
	flex-grow: 1;
} 

.section-body {
	flex-grow: 2;
}

.section-text {
	font-size: 18px;
	margin: 30px;
}

.fp-tableCell {
	display: flex;
	flex-direction: column;
}
