html, body {
	height: 100%;
}

.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 10% 0;
	display: flex;
	flex-direction: column;
}

.section-details {
	text-align: center;
}

.section-header {
	font-size: 60px;
	text-align: center;
	margin-bottom: 30px;
	flex-grow: 1;
} 

.section-body {
	flex-grow: 2;
}

.section-text {
	font-size: 18px;
	margin: 30px;
}

.map-wrapper {
	margin-bottom: 35px;
}

.map-styles {
	display: block;
	margin: 0 auto;
}

label {
	font-size: 20px;
}

.contact-form {
	margin-left: 20px;
}

.footer {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #D5D5D5;
	margin-top: 20px;
	padding: 15px;
}

.footer-wrapper {
	display: flex;
	flex: 1;
	margin: 0 5%;

	.text-muted {
		flex: 9;
	}
}

.navbar {
	position: fixed;
	width: 100%;
	background-color: rgba(248, 248, 248, 0.23);
}

.social-media-icons a {
	margin : 0 10px 0 0;
}

hr {
	margin: 20px 50px;
}

.navbar {
	margin-bottom : 0;
	z-index: 1;
}

.modal-image {
	height: 850px;
	background-position: center;
}
